* {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    z-index: 10;
    text-transform: capitalize;
}
body , h1,h2,h3,h4,h5,h6,div,p,span,a{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}


.navbar .h{
    color: blue;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 800;
    transition: 0.7s;    
} 

.navbar .lnk{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    transition: 0.7s;    
}

.navbar a.lnk:hover{
    transform: scale(1.1);
    color: blue;
}

.nav-btn{
    text-decoration: none;
    color: blue;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    border :1px solid ;
    transition: 0.5s;
}

.nav-btn:hover{
    transform: scale(1);
    background-color: blue;
    color: #ffffff;
}

 img{
    width: 90px;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.imga {
    max-width: 50%;
    height: auto;
    flex: 0 0 100%;
    object-fit: cover;
}

.text-content {
    flex: 1;
    padding: 20px;
    text-align: justify;
}

.text-content h3 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    color: blue;
}

.text-content p{
    text-align: right;
    font-size: 18.4px;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    opacity: 0.7;
}


.card-btn-1 {
    width: 100%;
    max-width: 450px;
    
    background-color: blue;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
}

.card-btn-1 img {
    width: 100%;
    height: auto;
}

.card-content-btn {
    padding: 16px;
}



.card-content-btn h3 {
    font-size: large;
    font-weight: 900;
    margin-bottom: 8px;
}

.card-content-btn p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.3;
    text-align: right;
}

.card-content-btn .btn {
    display: inline-block;
    padding: 10px 70px;
    background-color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    color: blue;
    transition: 0.7s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 6);
}

.card-content-btn .btn:hover{
    color: #ffffff;
    background-color: rgb(100, 100, 100);
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 6);
}

.vid{
   margin-left: 65px;
    width: 92%;
}

.video h3{
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    color: blue;
}

.video p{
    text-align: right;
    width: 85%;
    font-size: 18.4px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
   
}

.main-btn {
    width: 100%;
    max-width: 400px;
    height: 52vh;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 150px 0px;
    text-align: center;
}

.p-btn {
    padding: 16px;
    display: inline-block;
}



.p-btn h3 {
    font-size: large;
    font-weight: 900;
    margin-bottom: 8px;
}

.p-btn p {
    color: blue;
    font-size: 20px;
    line-height: 1.3;
    text-align: right;
}

.p-btn .btn {
    display: inline-block;
    padding: 10px 70px;
    background-color: blue;
    text-decoration: none;
    font-weight: 600;
    margin-top: 380px;
    color: rgb(255, 255, 255);
    transition: 0.7s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 6);
}

.p-btn .btn:hover{
    color: #ffffff;
    background-color: rgb(100, 100, 100);
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 6);
}


.main-btn-1 {

    width: 100%;
    height: 80vh;
    max-width: 450px;
    background-color: blue;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
}

.main-btn-1>p {
font-size: x-large;
font-weight: 600;
color: red;
}

.main-btn-1>h3 {
    color: aqua;
}

.cards{
    display: flex;
    justify-content: center;
}